server:
  port: 8001

spring:
  application:
    name: ms-auth-service
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/bulla
    username: postgres
    password: samdoh
    driver-class-name: org.postgresql.Driver

security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000 # 1 hour in milliseconds

#logging:
#  level:
#    org.springframework: DEBUG
